html,
body {
    height: 100%;
}
body {
    margin: 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #FFFFFF;
    opacity: 0.11;
}
#overlay-color {
    position: fixed;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
    background: -o-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
    background: -ms-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
    background: -moz-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
    background: linear-gradient(to top, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
    background-size: 100% 100%;
    z-index: 0;
    cursor: pointer;
}
.outer-container{
    width: 21%;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    z-index: 5;
    overflow: hidden;
}
.form-wrap {
    height: calc(100% - 120px);
}
.center {
    text-align: center;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.btn-primary {
    background: #55C4FF;
    border-color: #55C4FF;
    color: #000;
    margin-bottom: 10px;
}
.btn-primary:hover {
    background: #55C4FF;
    border-color: #55C4FF;
    color: #000;
}
.agent-prompt {
    height: 65px;
    padding: 0 20px;
    margin-top: 30px;
    color: #DDE5E6;
    overflow: hidden;
}
.form {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 5px;
    background: #24515A repeat;
}
.form label {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.form .form-control {
    background: #FFFFFF2F 0% 0% repeat;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    opacity: 1;
}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.bot-direction {
    display: block;
    position: fixed;
    bottom: 11px;
    right: 10px;
    width: 199px;
}
.bot-direction>div {
    font-size: 20px;
}
.bot-direction img {
    width: 100px;
}
.shadow-container {
    height: 10px;
    position: absolute;
    left: 4%;
    right: 4%;
    box-shadow: 0px -10px 10px 0px #577f8a;
}
.speech_output {
    margin-bottom: 5px;
    height: 55px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #fff;
}
.modal.show .modal-dialog {
    width: 90%;
    margin: auto;
    top: 35%;
    background: #021317;
    border-radius: 5px;
    border: solid 1px #fff;
}
.modal.show .modal-dialog .modal-content {
    background: linear-gradient(to bottom, #01414B 13%, #021317 135%);
    color: #fff;
}
.modal.show .modal-dialog .modal-footer {
    border-top: none;
}
.modal.show .modal-dialog .modal-footer button {
  margin-bottom: 0;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px #00BCDD;
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}
.fa.fa-microphone {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 0.5em 0.6em;
    border: 2px solid #00BCDD;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
}
.fa-microphone.active {
    background: #00BCDD;
    animation: shadow-pulse 1s infinite;
}
.mainPage,
.settingPage,
.voiceTrainingPage {
    height: 75%;
    width: 100%;
}
.settingIcon {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 5;
    font-size: 22px;
    color: white;
    padding: 10px;
}
.backIcon {
    position: absolute;
    top: -10px;
    left: 2px;
    z-index: 5;
    font-size: 22px;
    color: white;
    padding: 10px;
}
.langSwitch {
    position: absolute;
    top: -3px;
    left: 10px;
    z-index: 5;
}
.langSwitch span {
    padding: 5px;
    font-size: 8px;
    color: white;
    border: 1px solid #bbb;
    border-radius: 10px;
    cursor: pointer;
}

.settingForm,
.voiceForm {
    margin-top: 25px;
}
h3, h6, h4, h5 {
    color: white;
}
.settingForm .form-group label,
.settingForm p,
.voiceForm .form-group label,
.voiceForm p,
.settingForm .form-group input,
.voiceForm .form-group input {
    color: white;
}
.settingForm .form-group h6,
.voiceForm .form-group h6 {
    font-size: 12px;
    opacity: 0.46;
}
.settingForm .help-text,
.voiceForm .help-text {
    font-size: 14px;
}
.settingForm .form-group label {
    font-size: 15px;
}
.voiceForm .form-group label {
    font-size: 18px;
}
.voiceForm .form-check input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.voiceForm .form-check {
    margin: 10px 0;
}
.voiceForm .form-check label {
    opacity: 0.21;
    letter-spacing: 0px;
    margin-left: 10px;
}
.voiceForm .form-check .form-check-input {
    opacity: 0.21;
}
.voiceForm .form-check input[type=checkbox]:checked,
.voiceForm .form-check input[type=checkbox]:checked+label {
    opacity: 1;
}
.settingPage footer {
    visibility: hidden;
}

@media screen and (min-width: 800px) {
    #overlay-image {
        width: 25%;
        position: fixed;
        height: 100%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./iphone_background.png");
        background-size: 100% 100%;
        z-index: 2;
        cursor: pointer;
    }
    #overlay-color {
        width: 21%;
    }
    .outer-container {
        height: 90% !important;
    }
    #overlay-color {
        height: 95% !important;
    }
    .modal.show .modal-dialog {
        width: 18%;
    }
}
@media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3){
    .outer-container {
        width: 100% !important;
        background: -webkit-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -o-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -ms-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -moz-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: linear-gradient(to top, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background-size: 100% 100%;
    }
}
@media only screen and (max-width: 600px) {
    .outer-container {
        width: 100% !important;
        background: -webkit-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -o-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -ms-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -moz-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: linear-gradient(to top, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background-size: 100% 100%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .outer-container {
        width: 100% !important;
        background: -webkit-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -o-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -ms-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: -moz-linear-gradient(bottom, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background: linear-gradient(to top, rgb(1, 3, 5) 0%, rgb(0, 42, 50) 60%, rgb(0, 67, 79) 100%);
        background-size: 100% 100%;
    }
    .modal.show .modal-dialog{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
