html, 
body {
    height: 100%;
}
@media screen and (min-width: 800px) {
    .outer-container{
        padding: 66px 36px 52px 36px;
        background: url("./iphone_background.png");
        background-size: 100% 100%;
    }
}
@media only screen and (max-width: 600px){
    .outer-container{
        width: 100% !important;
    }
}
.outer-container{
    width: 450px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
@media (min-width: 768px){
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
form{
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.container{
    height: calc(100% - 280px);
}
form {
    padding-top: 20px;
}
.bot-direction {
    display: block;
    position: fixed;
    bottom: 11px;
    right: 10px;
    width: 199px;
}

.bot-direction>div {
    font-size: 20px;
}

.bot-direction img {
    width: 100px;
}

body {
    margin: 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.speech_output {
    margin-bottom: 10px;
    height: 70px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.fa-microphone {
    font-size: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.fa-microphone.active {
    color: red;
}

.center {
    text-align: center;
}

.agent-prompt {
    height: 150px;
    padding: 10px;
}
.container {
    background-color: lightgray;
}

.modal-footer button {
    background-color: green;
    color: white;
}

button.btn-primary {
    margin-bottom: 20px;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

span.final{
    color: black;
}
span.intermediate {
    color: gray;
}