html, 
body {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    form{
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }
    .container{
        height: calc(100% - 260px);
    }
}
form {
    padding-top: 20px;
}
.bot-direction {
    display: block;
    position: fixed;
    bottom: 11px;
    right: 10px;
    width: 199px;
}

.bot-direction>div {
    font-size: 20px;
}

.bot-direction img {
    width: 100px;
}

body {
    margin: 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.speech_output {
    margin-bottom: 10px;
    min-height: 50px;
    padding: 10px;
}

.fa-microphone {
    font-size: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.fa-microphone.active {
    color: red;
}

.center {
    text-align: center;
}

.agent-prompt {
    height: 150px;
    padding: 10px;
}
.container {
    background-color: lightgray;
}

.modal-footer button {
    background-color: green;
    color: white;
}

button.btn-primary {
    margin-bottom: 20px;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

span.final{
    color: black;
}
span.intermediate {
    color: gray;
}